.Panel{
    display:flex;
    flex-direction: row;
  
   
    
 
  }
  
  .LeftPanel,.RightPanel{
    display:flex;
    flex-direction: column;
    margin:auto;
    padding:25px;
   
    

  }
  
  .LeftPanel{
   
    
  
  }
  
  .RightPanel{
   

}
.SubText{
  color:white;
  font-size: 24px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  background-color: rgba(61, 61, 61, 0.75);;
}

.Download{
  color: white;
  text-decoration: none;
  font-size: 24px;
  background-color: rgba(230, 126, 34,1.0);
  width: 200px;
  border-radius:10px;
  text-align:center;
  padding: 5px;
  box-shadow: 1px 3px 1px 1px black;
  margin:auto;
  margin-bottom:15px;
  
}


/*MEDIA===========================*/
/*IPhone-X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
    .Panel{
        display:flex;
        flex-direction: column;
        
      }
      

  

  
}


