.Card_Slider {
 
  animation-name: draw-slide;
  animation-duration: 1s;
  display:flex;
  flex-direction: column;
  justify-content: center ;
 
  ;

}

@keyframes draw-slide {
  from {
    margin-left: 100%;
    
  }

  to {
    margin-left:0%;
   
  }
}

.Card {
  color:white;  
  display:flex;

  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  margin:auto;
  background-color:rgba(61, 61, 61, 0.75);


  
}


.CardBtn{
  color: rgba(214, 195, 73);
  background-color: rgba(61, 61, 61, 0.75);
  max-width: auto;
  height: 50px;

 

}

img{
max-width:400px;
max-height:400px;
}


.Card_Title {
  color: white;
  font-size: 40px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(61, 61, 61, 0.5);
  text-align:center;
 
  
}

.Card_Being, .Card_Ancient, .Card_Spell, .Card_Landscape{
  background-color: rgb(121, 85, 72, 0.5 ); 
  display: flex;
  justify-content: center;
  flex-direction:row;
  box-shadow: 0px 3px 3 px black;
  border-radius: 5px ;
  border:2px solid rgba(61, 61, 61, 0.75);  
  font-family: "Varela Round", sans-serif;
  margin:auto;
  max-width: 800px;    


}

.SubBox{
  display:flex;
  flex-direction: column; 
  justify-content: center;
  background-color: rgba(61, 61, 61, 0.5);
  text-align: center;
  border-radius: 10px;
  
  

 
 
}
h1{
  background-color: rgba(61, 61, 61, 0.5);
  max-height: 50px;
  border-radius: 10px;
  padding: 10px;

  text-align:center;
}

.Card_Image {
  display:flex;
  margin:auto;
  
}


.Card_Ancient{
  background-color:rgba(103, 58, 183, 0.5);
 


}

.Card_Being{
  background-color: rgba(74, 54, 36, 0.5);
  


}




.Card_Spell{
  background-color: rgb(9, 132, 227, 0.5  );



}


.Card_Landscape{
  background-color:rgba(139, 195, 74, 0.5);
}


.Card_Container{
  
  padding:10px;
  

}

.Important_Text{
  color: rgba(214, 195, 73);
}

.Alt_Text{
  color: red;
}




.ScrollBox {
  margin-top: 2%;;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 580px;
  border-radius: 10px;

 
  position: relative;
}



.ScrollBox::-webkit-scrollbar {
  width: 1em;
  background-color: rgba(61, 61, 61, 0.5);
  
}

.ScrollBox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ScrollBox::-webkit-scrollbar-thumb {
  background-color: rgba(95, 86, 86, 0.7);
  outline: 1px solid black;
}

.Mobile{
  display: flex;
  justify-content: center;
  flex-direction: column;
}




/*MEDIA===========================*/
/*IPhone-X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 

  .ScrollBox {
    margin-top: 2%;;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 580px;
    border-radius: 10px;
  }
  
  
  

  .Card_Container{

   transform: scale(0.99);
  
 
   padding:0px;
  
  }

  .Mobile{
    display: flex;
    margin:auto;
    flex-direction:column;

    border-radius:5px;
    justify-content: center;;
  
   
  }
 

  .Card_Being, .Card_Ancient, .Card_Spell, .Card_Landscape{
   
    display: flex;
    justify-content: center;
    flex-direction:row;
    margin:auto;
    background-color:transparent;
    border:0px solid rgba(61, 61, 61, 0.75);  
    
  
  
  }
  .Important_Text{
    color: rgba(214, 195, 73);
    padding:10px;
  }

  .Card_Ancient{
    background-color:rgba(103, 58, 183, 0.5)
    
  
  
  }
  
  
  .Card_Spell{
    background-color: rgb(9, 132, 227, 0.5  );
  
  
  
  }
  
  
  .Card_Landscape{
    background-color:rgba(139, 195, 74, 0.5);
  }

  .Card_Being{
    background-color: rgba(74, 54, 36, 0.5);
  }
  
  


  
}