.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /**background-color: rgba(59, 57, 57, 0.75);**/
  border-radius: 5px;

  margin:auto;
  margin-top: 3%;
  color: rgba(214, 195, 73);
  font-family: "Varela Round", sans-serif;

}

.VocabBtn {
  
  color: rgba(214, 195, 73);
  background-color: rgba(61, 61, 61, 0.75);
  height: 50px;
  font-family: "Varela Round", sans-serif;
  font-size:2.0em;
 
}
.Termonology {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Info_Title {
  text-align: center;
  padding: 20px;
  font-size: 45px;
  color: white;
}

.Text {

  font-size: 20px;
  padding: 25px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  font-style: bold;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(61, 61, 61, 0.4);

  border-radius: 10px;

  
  
  
}

.Scroll {
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
  border-radius: 10px;
}

.Sub_Title {
  color: white;
  text-align: center;
  background-color: rgba(61, 61, 61, 0.5);
  height: 50px;
  border-radius: 5px;
}

li {
  padding: 5px;
}

.Scroll::-webkit-scrollbar {
  width: 1em;
  background-color: rgba(61, 61, 61, 0.5);
}

.Scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Scroll::-webkit-scrollbar-thumb {
  background-color: rgba(95, 86, 86, 0.7);
  outline: 1px solid black;
}



/*MEDIA===========================*/
/*IPhone-X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 

  .Scroll {
   
  
    border-radius: 10px;
  }

  .Text{
    font-size: 16px;
   
    line-height: 25px;
   
    font-style: bold;
    text-align: center;
    font-family: 'Piazzolla', serif;
    
  }
  
  .Sub_Title {
  

    border-radius: 5px;
  }

  .Scroll::-webkit-scrollbar {
    width: 1em;
    background-color: rgba(61, 61, 61, 0.5);
  }
  
  .Scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .Scroll::-webkit-scrollbar-thumb {
    background-color: rgba(95, 86, 86, 0.7);
    outline: 1px solid black;
  }

  .VocabBtn {
    color: rgba(214, 195, 73);
    background-color: rgba(61, 61, 61, .75);
    height: 100px;
 
  }
  
  

  
}
