.App {
  /*font-family: sans-serif;*/
 
  font-family: "Varela Round", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top:-25px; /*dont know what this is*/
  
 
}


/*-------------------MEDIA QUERIES -----------------------------------*/

/* IPHONE X */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .About{
      visibility: hidden;
      width:0px;
      height:0px;
    }
  
  
    .HowTo{
      visibility: hidden;
      width:0px;
      height:0px;
    }
  
    .Intro{
      visibility: hidden;
      width:0px;
    }
  
    .Panel{
      display:flex;
      flex-direction: column;
      
    }
  
    .Card{
      visibility: hidden;
      width:0px;
      height:0px;
    }
  
    .Download{
      visibility: hidden;
      box-shadow: none;
      
    }
  
    .LeftPanel{
      margin:none;
      width:0px;
      height:0px;
    }

} /*End Iphone-X General




/* Portrait */  
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .About{
      visibility: hidden;
      width:0px;
      height:0px;
    }
  
  
    .HowTo{
      visibility: hidden;
      width:0px;
      height:0px;
    }
  
    .Intro{
      visibility: hidden;
      width:0px;
    }
  
    .Panel{
      display:flex;
      flex-direction: column;
     
    }
  
    .Card{
      visibility: hidden;
      width:0px;
      height:0px;
    }
  
    .Download{
      visibility: hidden;
      box-shadow: none;
      
    }
  
    .LeftPanel{
      margin:none;
      width:0px;
      height:0px;
      
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    .Panel{
      display:flex;
      flex-direction: row;
      margin:auto;
      justify-content: center;;
     
    }

  .LeftPanel{
    width:0px;
    height:0px;
  }

   



}



/* ----------- General ----------- */


@media (min-width: 280px)
and (max-height: 823px) 
{ 

  .About{
    visibility: hidden;
    width:0px;
    height:0px;
  }


  .HowTo{
    visibility: hidden;
    width:0px;
    height:0px;
  }

  .Intro{
    visibility: hidden;
    width:0px;
  }

  .Panel{
    display:flex;
    flex-wrap: wrap;
    justify-content:center; 
    margin:auto;
   

   
  }
  
  
 
  .Card{
    visibility: hidden;
    width:0px;
    height:0px;
  }

  .Download{
    visibility: hidden;
    box-shadow: none;
    
  }

  .LeftPanel{
    width:0px;
    height:0px;
  }
  



}


@media (min-width: 768px) { 
 
 


}


@media (min-width: 992px) { 
  

}
